.FilmSlider_item {
  position: relative;
}

.popularity_container {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: black;
  color: rgb(0, 0, 0);
  font-weight: 600;
  padding: 3px;
  border-radius: 3px;
  border: 2px solid var(--color-accent);
  text-shadow: var(--special-text-shadow);
  cursor: pointer;
  transition: transform var(--transition-effect);
}

.popularity_container:hover {
  transform: scale(1.1);
}

.vote_average_container {
  position: absolute;
  bottom: 5px;
  left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: black;
  color: rgb(0, 0, 0);
  font-weight: 600;
  padding: 3px;
  border-radius: 3px;
  border: 2px solid var(--color-accent);
  text-shadow: var(--special-text-shadow);
  cursor: pointer;
  transition: transform var(--transition-effect);
}

.vote_average_container:hover {
  transform: scale(1.1);
}

.star {
  color: var(--star-color);
}

.title {
  font-size: 30px;
  margin: 20px 0;
}

.FilmSlider_section {
  margin: 40px 0;
}
