.back_link {
	padding: 4px 10px;
	color: white;
	border: 1px solid white;
	transition: color 350ms cubic-bezier(0.215, 0.61, 0.355, 1),
	  transform 350ms cubic-bezier(0.215, 0.61, 0.355, 1),
	  border 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
	  margin: 20px 0;
  }
  
  .back_link:hover {
	transform: translateX(-3px);
	transform: scale(1.1);
	color: rgb(1, 195, 1);
	border-color: rgb(1, 195, 1);
  }
  
  .back_link:focus {
	transform: translateX(-3px);
	transform: scale(1.1);
	color: rgb(1, 195, 1);
	border-color: rgb(1, 195, 1);
  }
  
  .back_item {
	color: inherit;
	width: 30px;
	height: auto;
  }