/* .reviews_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
}

.title {
  font-size: var(--h2-title-size);
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

.reviews_item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  background-color: aliceblue;
  color: black;
  padding: 10px;
  border-radius: 10px;
}

.img_container {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  overflow: hidden;
  background-color: beige;
  border: 2px solid black;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transition: transform var(--transition-effect);
  cursor: pointer;
}

.img_container:hover,
.img_container:focus,
.img_container:active {
  transform: scale(1.1);
}

.img {
  object-fit: cover;
  max-width: 100%;
}

.top_info_container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.rating {
  position: absolute;
  bottom: 5px;
  left: 9px;
  font-weight: 900;
  background-color: black;
  color: black;
  padding: 3px;
  border-radius: 3px;
  border: 2px solid var(--color-accent);
  display: flex;
  gap: 5px;
  text-shadow: var(--special-text-shadow);
}

.rating > span {
  text-shadow: var(--special-text-shadow);
  color: rgb(32, 13, 85);
}

.name_data {
  position: absolute;
  top: 10px;
  right: 15px;
}

.bottom_info {
  color: black;
} */

.reviews_list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 40px 0;
}

.reviews_item{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.682);
  gap: 20px;
  padding: 15px;
}


.img_container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  border: 2px solid black;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transition: transform var(--transition-effect);
  cursor: pointer;
}

.bottom_info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  font-size: 18px;
  letter-spacing: 0.02em;
}

.rating{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 18px;
  font-weight: 900;
  color: black;
}

.like{
  width: 30px;
  height: auto;
  color: white;
}

.rating_container{
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 30px;
}

@media screen and (max-width: 768px){
  .reviews_item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.682);
    gap: 20px;
    padding: 15px;
  }
}
