.buttonPage {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  width: 24px;
  background-color: white;
  padding: 4px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 600;
}

.buttonsList {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 280px;
  overflow-x: scroll;
  gap: 10px;
  padding: 5px 10px;
}

.buttons_container {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 5px;
  padding: 20px 0;
}
