:root {
  --black: black;
}

.cast_list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;
}

.cast_item {
  max-width: 130px;
  border: var(--border);
  padding: 5px;
  min-height: 315px;
  overflow: hidden;
  cursor: pointer;
  transition: transform var(--transition-effect);
}

.cast_item:hover,
.cast_item:focus,
.cast_item:active {
  transform: scale(1.1);
}

.img_container {
  position: relative;
}

.popularity {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 5px;
  left: 5px;
  background-color: var(--black);
  color: var(--black);
  font-weight: 600;
  padding: 3px;
  border-radius: 3px;
  border: 2px solid var(--color-accent);
  gap: 5px;
  text-shadow: 0 0 3px #ffd700, 0 0 3px #ffd700, 0 0 3px #ffcc33,
    0 0 3px #ff9900, 0 0 3px #ff6600;
  transition: transform var(--transition-effect);
}

.popularity:hover,
.popularity:focus,
.popularity:active {
  transform: scale(1.1);
}

.name_block,
.character_block {
  padding: 3px;
}

.name_block {
  background-color: #ffcc3330;
}

.character_block {
  background-color: #336dff34;
}

.name,
.character {
  color: #ffd900;
}

.showMore {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: var(--black);
  color: var(--black);
  font-weight: 600;
  padding: 7px;
  border-radius: 3px;
  border: 2px solid var(--color-accent);
  gap: 5px;
  text-shadow: 0 0 3px #ffd700, 0 0 3px #ffd700, 0 0 3px #ffcc33,
    0 0 3px #ff9900, 0 0 3px #ff6600;
  transition: transform  var(--transition-effect),
    background-color var(--transition-effect);
}

.showMore:hover,
.showMore:focus,
.showMore:active {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.745);
}
