.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.list_socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.social_icon{
	
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.list_navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@media screen and (min-width: 360px) {
  .nav {
    gap: 30px;
  }

  .list_navigation {
    gap: 30px;
  }
}
