.filterSearch {
    display: flex;
    align-items: center;
	gap: 5px;
    border: 0;
    border-left: 30px;
    border-right: 0px;
    width: 240px;

}
.filterSearch > input {
    border: none;
    outline: none;
    flex: 1;
    padding: 8px 10px;
    font-size: 16px;
    background-color: #222127;
    border-top-left-radius: 30px;
    color: #fff;
    border-bottom-left-radius: 30px;
    border-right: 0px;
}
.filterSearch > button {
	display: flex;
	align-items: center;
	justify-content: center;
    border: none;
    cursor: pointer;
    padding: 9px;
    background-color: #222127;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
	color: #fff;
}
