.page_film_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titles_container {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

/* title_link */
.title_link_container {
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.title {
  font-size: 25px;
  line-height: 1;
  border-bottom: 1px solid white;
}

.showTitles {
  color: white;
  width: 20px;
  height: auto;
  cursor: pointer;
  background-color: rgba(153, 154, 154, 0.641);
  border-radius: 3px;
  transition: transform var(--transition-effect);
}

.showTitles:hover,
.showTitles:focus,
.showTitles:active {
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .top_info {
    flex-direction: row;
    justify-content: flex-start;
    gap: 100px;
  }

  .title {
    font-size: 30px;
    line-height: 1;
    border-bottom: 1px solid white;
  }

  .top_film_details {
    align-self: flex-start;
  }

  .titles_container {
    flex-direction: row;
    gap: 10px;
  }
}
