.title {
  position: relative;
  font-size: 25px;
  line-height: 1;
  color: rgb(161, 161, 161);
  border-bottom: 1px solid rgb(161, 161, 161);
}

.title > span {
  position: absolute;
  font-size: 10px;
  color: black;
  top: -10px;
  right: -15px;
  background-color: rgb(161, 161, 161);
  padding: 2px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 30px;
  }

  .title > span {
    right: -15px;
    top: -10px;
  }
}
